[submodule "data/exp_raw/FunSQL.jl"]
	path = data/exp_raw/FunSQL.jl
	url = https://github.com/MechanicalRabbit/FunSQL.jl
[submodule "data/exp_raw/OMOPCDMCohortCreator.jl"]
	path = data/exp_raw/OMOPCDMCohortCreator.jl
	url = https://github.com/JuliaHealth/OMOPCDMCohortCreator.jl.git
[submodule "data/exp_raw/CommonDataModel"]
	path = data/exp_raw/CommonDataModel
	url = https://github.com/OHDSI/CommonDataModel.git
[submodule "data/exp_raw/TheBookOfOhdsi"]
	path = data/exp_raw/TheBookOfOhdsi
	url = https://github.com/OHDSI/TheBookOfOhdsi.git
